body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ecf0f1;
	font-family: sans-serif;
}

.container {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	width: 400px;
}

form {
	padding: 20px 15px;
}

form .form-group {
	display: grid;
	margin-bottom: 10px;
}

form input {
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
}

form .feedback {
	padding: 5px;
	color: white;
	font-size: small;
	border-radius: 5px;
	visibility: hidden;
}
form .error {
	background-color: rgba(225, 112, 85, 0.8);
	visibility: visible;
}
form .success {
	background-color: rgba(0, 184, 148, 0.8);
	visibility: visible;
}
form [disabled] {
	background-color: rgba(250, 177, 160, 1);
}
form [disabled]:hover {
	background-color: rgba(250, 177, 160, 1);
}

form button {
	width: 100%;
	font-size: larger;
	font-weight: bold;
	background-color: rgba(0, 184, 148, 1);
	color: white;
	border: none;
	padding: 10px 0;
	border-radius: 5px;
}
form button:hover {
	background-color: rgba(0, 184, 148, 0.8);
}
